.provider-main {
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 100vw; */
}

.all-services {
text-align: left;
    padding-top: 3vh;
}

.provider-main h2 {
    text-align: left;
    padding-top: 2vh;
}
.card-holder{
    display: flex;
    flex-wrap: wrap;
    /* max-width: 100%; */
    justify-content: flex-start;
    min-width: 40vw;
}
.prov-card {
    margin: 0.5rem;
    border: 1px solid #444;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #777;
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
.details-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
}
.map{
    height:400px;
    width: 400px;
    border: solid 1px black;
    justify-content: right;
}
.calendar{
    width: 500px;
    height: 500px;
}
.fc-daygrid-body .fc-daygrid-body-unbalanced{
    width: 100%;
}
.fc-scrollgrid-sync-table{
    width: 100%;
}
.fc-col-header{
    width: 100%;
}

.fc .fc-daygrid-day-top{
    justify-content: left;
}

@media screen and (max-width: 800px) {
    
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: 1;
    font-family: 'Montserrat';
    text-align: center;
    max-width: 100vw;
}
    .card-holder{
      flex-direction: column;
    }
}
