.filters {
    display: flex;
    flex-direction: column;
    align-self: left;
    margin-top: 5vh;
    padding-bottom: 5vh;

    background-color: #68975952;
}

.services-title, .animals-title {
    /* background-color: #699759; */
    border-radius: 20px;
    padding: 2vh 0vw; 
    /* margin: 2vw; */
    color: white;
    text-align: center;
    max-width: 100px;
}

.services-filters, .animal-filters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-filters, .a-filters {
    display: flex;
    flex-direction: column;
}

.s-filters label,
.a-filters label {
    padding-right: 2vw;
    color: white;
    padding-top: 1.5vh;
    min-width: 200px;
    text-align: left;
}

.s-filters, .a-filters {
    background-color: #699759;
    border-radius: 20px;
    padding: 2vh 5vh;
    /* padding-top: 2vh; */
    /* margin: 2vw; */
    color: white;
    text-align: center;
}
.s-filters input{
    float: right; 
}
